---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogHead from '../components/BlogHead.astro'
import BlogPostContainer, {getStaticPaths} from '../components/BlogPostContainer.astro'
import { Spa } from "astro-spa";
export { getStaticPaths }

const { page } = Astro.props;
---
<BaseLayout>
	<BlogHead/>
	<div id="container">
	<BlogPostContainer page={page} />
	</div>
	<Spa containerSelector="#container" />
</BaseLayout>