---
// Component imports and setup JavaScript go here!
import BlogHead from '../components/BlogHead.astro'
import BlogPost from '../components/BlogPost.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>My Blog</title>
		<link rel="stylesheet" href={Astro.resolve("../assets/global.css")} >
	</head>

	<body class="bg-gradient-to-r from-cyan-500 to-blue-500">
		<BlogHead/>
		<BlogPost title="title" body="body" author="author" createdAt="2022-01-05T10:29:12.411Z"/>
		<BlogPost title="title" body="body" author="author" createdAt="2022-01-05T10:29:12.411Z"/>
	</body>
</html>
