---
export interface Props {
  createdAt: string;
  title: string;
  body: string;
  author: string;
}

const { createdAt, title, body, author } = Astro.props;
---
<script type="module" src={Astro.resolve('./RelativeDate.ts')}></script>
<div class="basis-full my-4 rounded shadow-lg px-4 py-4 bg-white">
    <div class="divide-y-2">
      <div class="py-2">
          <p class="text-3xl text-black font-semibold">{title}</p>
          <p class="text-1xl text-black italic">by {author} - 
          <relative-date {createdAt}>{new Date(createdAt).toLocaleDateString()}</relative-date>
          </p>
      </div>
      <div class="py-2">
          <p class="text-sm text-black">{body}</p>
      </div>
    </div>
</div>