---
import BlogIcon from './BlogIcon.astro'
---
<nav class="relative w-full py-3 shadow-lg bg-white">
    <div class="container-fluid flex items-center px-6">
    <BlogIcon/>
      <p class="pl-4 text-4xl text-black font-semibold">My Blog</p>
    </div>
</nav>