---
import BlogIcon from './BlogIcon.astro'
import MadeWith from './MadeWith.astro'
---
<nav class="w-full py-3 shadow-lg bg-white">
    <div class="flex flex-row flex-wrap items-center justify-evenly px-6 gap-y-4">
      <div class="flex flex-row items-center">
        <BlogIcon/>
        <span class="pl-4 text-4xl text-black">My personal blog</span>
      </div>
        <div class="flex items-center">
        made with <MadeWith/>
      </div>
    </div>
</nav>