---
import XElement from 'astro-xelement'

export interface Props {
  createdAt: string;
  title: string;
  body: string;
  author: string;
}

const { createdAt, title, body, author } = Astro.props;
---
<div class="grow my-4 max-w-6xl rounded shadow-lg px-4 py-4 bg-white">
    <div class="divide-y-2">
      <div class="py-2">
          <p class="text-3xl text-black font-semibold">{title}</p>
          <p class="text-1xl text-black italic">by {author} - 
          <XElement        
          define:vars={{
            createdAt
          }}
          @is="span"
          @do={async (element) => {
              const timeSince = (await import('../utils/timeSince')).default;
              element.textContent = timeSince(createdAt) + " ago";
          }}>
          {new Date(createdAt).toLocaleDateString()}
          </XElement>
          </p>
      </div>
      <div class="py-2">
          <p class="text-sm text-black">{body}</p>
      </div>
    </div>
</div>