<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>My Blog</title>
		<link rel="stylesheet" href={Astro.resolve("../assets/global.css")} >
	</head>

	<body class="bg-gradient-to-r from-cyan-500 to-blue-500">
        <slot/>
	</body>
</html>